@charset "UTF-8";





@media screen and (min-width:1200px){

    li::before {
        content: '';
        width: 4%;
        position: absolute;
        top:50%;
        height: 1px;
        background: hotpink;
        display: block;
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
        transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
        }
        
        li:hover::before {
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1)
        }
        
nav ul {
    display: flex;
    flex-direction:row;
}

#slider{width:100%; max-height:1250px; background-color: black}

section .container{width:100%; min-height:3000px; background-color:black; }


      
    nav{width:100%; height:50px;
font-family: 'Oswald', sans-serif; 
margin-top: 10px;
}
ul,li,ol {margin:5px 28px;}

.menu{display: none;}

       .new{width:80%; height: 900px; 
           display: flex;
           justify-content: space-evenly;
            align-items: center;
            margin:0 auto;
            background-color:black;}

      

       .new_box{width:700px; height:600px;}

               .new{width:80%; height:900px; 
display: flex;
justify-content: space-evenly;
align-items: center;
margin:0 auto;
background-color:black;
}

#new_title{width:300px; height:180px; margin:0 auto; 
display: flex; flex-wrap: wrap; 
justify-content: center;
align-content: center;
transform: translateY(100px); transition: all 2s; opacity: 0;
background-color:; }

.new_box {width:700px; height:600px;
    display: flex;
    justify-content: center;
    align-items:center;                        
    flex-direction: column;
    background-color: ;}


        

    
.new_box .box1{width:650px; height: 550px;  background-color: }
.new_box .box1 img{width:600px; height:auto;  } 

.new_box .box2{width:500px; height:150px;
            font-family: 'Outfit', sans-serif;
            color:white;
            background-color:;}

.new_box .box3{width:450px; height:100px;  
justify-content: end; background-color: ;}

       .box1{width:650px; height: 550px;}

       .box2{max-width:550px; }

       .box3{margin-top: 20px;}

       .new_box .box1 img {width:600px; height:auto;}
       

       .store{min-width:100%; min-height:1100px;}

       #store_box{max-width: 100%;
           }
       

       .box_vinyl{min-width:75%;
                   min-height:420px;
               display: flex;
               align-items: center;
           justify-content: space-evenly;
              flex-direction: row;

           }      


       .box_clothing{min-width:75%;
                   min-height:420px;   
               display: flex;
            align-content: flex-start;
           justify-content: space-evenly;
           flex-direction: row;
           }    

       #store_box .box{width:620px; height:350px; 
       background-color: white;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-around;
       transform: translateY(100px); transition: all 2s; opacity: 0;
       }
       
       .product{max-width:300px;}
      

       .product img{
           max-width: 300px;}

       .cart{width:100px; height:30px; 
               background-color: #ee2851; border-radius: 30px; 
                color:white;
               text-align: center;
           }    
        
           .cart p{margin-top: 5px;
                font-size: 0.8em; color:white;}     

       .product2{max-width: 300px;
           }   


    
       .shows{width:100%; 
           }
       #shows_title{max-width:100%;  margin:0 auto; } 




       .table{max-width:950px; 
           height:300px; 
           margin:0 auto; 
           font-size:16px;
           color:white;
           
       }
   

   

       
       .dates{max-width:950px; 
           height:40px; 
           }
       


}










@font-face {
font-family: 'IBMPlexSansKR-Bold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
font-weight: normal;
font-style: normal;
}





*{margin:0; padding:0; box-sizing:border-box;}
ul,ol, li {list-style: none;}
a{text-decoration: none;
color:white;
}

a:hover{color:hotpink;}




.container{width:100%; height:100%; margin:0 auto; position: relative;}

#top{position:relative;}

header{width:100%; height:100px; z-index:3; 
    position:absolute; top:0; left:0;right:0; bottom:0; background-color: ;}


header .container{position:relative;}    
#logo{width:70px; height:70px; float:left; background-color: }
#logo img{width:50px; height:50px; margin-left:10px; }

nav{width:100%; height:50px;
    font-family: 'Oswald', sans-serif; 
    margin-top: 10px;
    
}
ul,li,ol {float:left;  
    font-size:18px; 
    font-family: 'Oswald', sans-serif;}



#sns {width:200px; height:50px; 
        position:absolute;
        top:0; right:0;
        z-index:3;
        float:right;
        background-color: ;}
#sns img{width:30px; height:auto; margin:10px;
    transition:all 0.5s ease;}

#sns img:hover{opacity: 0.5;}



#slider{width:100%; height:1250px;  
            background-color:black;}

#slider video{width:100%; height:auto; z-index:2;}







section{width:100%; height:2850px; background-color: black;}
.title{width:500px; height:70px; margin-top:20px; background-color: ;}

.title h1{font-family: 'Mr Dafoe', cursive; color:white; text-align: center; font-size:60px; }
.title h2{text-align: center; font-family: 'Oswald', sans-serif; color:white; }
.product2 p{font-size: small;}

.new{width:80%; height:900px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0 auto;
    background-color:black;
    }

#new_title{width:300px; height:180px; margin:0 auto; 
    display: flex; flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    transform: translateY(100px); transition: all 2s; opacity: 0;
    background-color:; }

#new_box {width:700px; height:600px;
            display: flex;
            justify-content: center;
            align-items:center;                        
            flex-direction: column;
            background-color: ;}


                

            
#new_box .box1{width:650px; height: 550px;  background-color: }
#new_box .box1 img{width:600px; height:auto;  } 

#new_box .box2{width:500px; height:150px;
                    font-family: 'Outfit', sans-serif;
                    color:white;
                    background-color:;}

#new_box .box3{width:450px; height:100px;  
    justify-content: end; background-color: ;}

iframe{border:none;}    

.store{width:100%; height:1100px; 
     background-color:black; }

#store_title{width:300px; height:180px; margin:0 auto; 
    display: flex; flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    background-color: }            


#store_box{width:100%; height:1000px; 
    margin:0 auto;
    display: flex; flex-wrap:wrap;
    justify-content: center;
    background-color:;}

.box_vinyl{width:75%; height:420px; 
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            background-color: ;}

         

.box_clothing{width:75%; height:420px; 
            display: flex;
            align-content: flex-start;
            justify-content: space-evenly;
            flex-direction: row;
            background-color:;}    
     


.store .box{width:620px; height:350px; 
            background-color: white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            transform: translateY(100px); transition: all 2s; opacity: 0;
            }

.product{width:300px; height:250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color:;}

.product img{width:300px; height:auto;
             transition:all 0.5s ease; 
            }
.product img:hover{opacity: 0.5;}            

.product2{width:300px; height:250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: 'Outfit', sans-serif;
            }


.cart_box{width:280px; height:40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            }

.cart{width:100px; height:30px; 
    background-color: #ee2851; border-radius: 30px; 
     color:white;
    text-align: center;
    transition:all 0.5s ease; }

.cart:hover{opacity: 0.5;}

.cart p{margin-top: 5px;
    font-size: 0.8em; color:white;}                  

.heart{width:70px; height:30px; background-color:;}
.heart img{width:30px; height:auto;}

          

.shows{width:100%; height:850px;}
#shows_title{width:700px; height:200px; margin:0 auto; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-content:center;
    background-color:;} 

.table_box{width:100%; height:400px; 
                display: flex;
                align-items:center;
                justify-content:space-between;}  

.table{width:950px; height:300px; margin:0 auto; 
    
    font-size:16px;
    color:white;
    background-color: ;
}

table {font-family: 'Outfit', sans-serif;
    display:inline-block;  
    line-height:50px; 
    }



.table h3{font-family: 'Outfit', sans-serif; font-size: small; }
.table table th {width:200px; border-bottom:1px solid #eee; color:white;}
.table table td:first-of-type {width:400px; color:#ee2851; border-bottom:1px solid #eee;}
.table table td:nth-of-type(2) {width:270px; text-align:center; border-bottom:1px solid #eee;}
.table table td:last-of-type {width:120px; text-align:center; border-bottom:1px solid #eee;}

.table .btn{font-size:small;
            background-color:#ee2851;
            transition:all 0.5s ease;}
            
.table .btn:hover{background-color:#6b1223;}          

.dates{width:950px; height:40px; 
    background-color: #ee2851;
    transition:all 0.5s ease;}

.dates:hover{background-color:#6b1223;}

.dates {font-size: 15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color:white;
    padding-top: 10px;
    }

#table_2{display: none;}



footer{width:100%; height:160px; 
    background-color: black;
    }

  
footer .container{display: flex;
                    justify-content:flex-end;
                    align-items: center;
                    flex-direction: column;}  

.sns2 {width:500px; height:60px; 
        display:flex;
            justify-content: center;
            flex-direction: row;} 

footer .container p{width:500px; height:30px;
            margin:0 auto;
            color:white;
            font-family: 'Outfit', sans-serif;
            text-align: center;}

.sns2 img{width:20px; height:auto; margin:10px;
            transition:all 0.5s ease;}

.sns2 img:hover{opacity: 0.5;}

