@charset "UTF-8";


*{margin:0; padding:0; box-sizing:border-box;}
ul,ol,li {list-style: none;}
a{text-decoration: none;
color:white;
}

a:hover{color:hotpink;}

body::-webkit-scrollbar {display: none;}





  /* test2 */

#modaltest{width:100%; height:1000px; }

.cover{width:600px; height:500px; background-color: lightgoldenrodyellow;}
.one{width:100%; height:500px; 
    display: flex;
    justify-content: space-evenly;
    background-color: lightgreen;
    position:relative;}
.one img{width:500px; height:500px; position:absolute; left:11.5%;}
.box{width:600px; height:500px; background-color: blueviolet;}  


.two{width:100%; height:500px; 
    display: flex;
    justify-content: space-evenly;
    
    background-color:cadetblue;}

.box2{width:600px; height:500px; 
    display:flex;
    justify-content: center;
     background-color: pink;}

.track{width:250px; height:500px; float:left; background-color: deeppink;}  
.track2{width:250px; height:500px; float:left; text-align:center; background-color: lightblue;} 

.track2 img{width:25px; height:25px; }
   
/* fullpage */

 /*페이지*/

 .page {width:100%; height:100%; position:relative; margin:0 auto; background:#f7f0e4;}

 /*p0*/

 #particles-js {width:100%; height:100%; position:relative; background-color:lightcyan;}


/* dot */

#dot {width:80px; height:250px;  position:fixed; justify-content:center;

  align-items:center; display:flex;
  
  top:50%; right:0px; transform:translatey(-50%); z-index:100;
  display: none;
}
  
  #dot>ul {width:40px; height:220px;}
  
  #dot li {width:20px; height:20px; position:relative;
  
  display:block; margin:10px auto; border-radius:50%;
  
  box-shadow:-0px 0px 5px rgba(255,255,255,0.1);}
  
  #dot li a {background:rgba(255,255,255,0.7);
  
  transition:all 0.3s ease-in-out;
  
  top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%;
  
  background-color:#fff; background:rgba(255,255,255,0.5);
  
  cursor:pointer; position:absolute;}

  /* pointcolor */


  #discog .page:not(:nth-of-type(2n)) .con_wrap .background  {left:0;}

  #discog .page:nth-of-type(2n) .con_wrap .background {right:0}

  .p01 {background:#555;}

  .p02 {background:#d6130f;}

  .p03 {background:#7b8f09;}

  .p04 {background:#f0a91b;}

  .p05 {background:#0189ff;}

​

  /*pf_bot*/

  .pf_bot {width:100%; height:100%; padding:50px 0; position:relative;}


/* addclassdot */
  #dot ul li:nth-of-type(2).active {box-shadow:0 0 0 2px #0189ff;}

  #dot ul li:nth-of-type(3).active {box-shadow:0 0 0 2px #f0a91b;}

  #dot ul li:nth-of-type(4).active {box-shadow:0 0 0 2px #fff;}

  #dot ul li:nth-of-type(5).active {box-shadow:0 0 0 2px #d6130f;}

  #dot ul li:nth-of-type(6).active {box-shadow:0 0 0 2px #a0ef08;}

  #dot ul li:nth-of-type(7).active {box-shadow:0 0 0 2px #9517ff;}

​

  .active a {transform:scale(0.4);}

​

  #dot li:hover {opacity:1; cursor:pointer;}
[출처] fullpage scroll|작성자 구름

/* header */

.nav>li::before {
    content: '';
    width: 4%;
    position: absolute;
    top:50%;
    height: 1px;
    background: hotpink;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
    }
    
    .nav>li:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
    }

.container{width:100%; height:100%; 
    margin:0 auto; position: relative;
    }

#top{position:relative;}

header{width:100%; height:100px; z-index:3; 
    position:absolute; top:0; left:0;right:0; bottom:0; background-color: ;}


header .container{position:relative;}    
#logo{width:70px; height:70px; float:left; background-color: }
#logo img{width:50px; height:50px; margin-left:10px; }

nav{width:100%; height:50px;
    font-family: 'Oswald', sans-serif; 
    margin-top: 10px;}

.nav {
    display: flex;
    flex-direction:row;
}


.nav>li {float:left;  
    font-size:18px; 
    margin:5px 28px;
    font-family: 'Oswald', sans-serif;}

.menu{display: none;}

#sns {width:200px; height:50px; 
        position:absolute;
        top:0; right:0;
        z-index:3;
        float:right;
        background-color: ;}
#sns img{width:30px; height:auto; margin:10px;
    transition:all 0.5s ease;}

#sns img:hover{opacity: 0.5;}


#slider{width:100%; height:500px;  
    background-color:black;}


/* sub */

.container2 {width: 1600px; height: 100%; margin: 0 auto; 
            position:relative; }

#artist .container2 {width: 1600px; height: 100%;
                    display:flex;
                     flex-direction: column;  
                     justify-content: flex-end; 
                     align-items: center;
                     position:relative; 
                        }          

#artist{width:100%; height:900px;  background-color: black;} 
#artist h1{text-align: center; position:absolute; top:2%; left:16%; 
    font-family: 'Anton', sans-serif;
    font-size:60px;
    color:white;}

.profile{width:1080px; height:750px; margin:50px;
    position:relative;  overflow: hidden;
    }


.profile2{width:3240px;}
.profile2>li{width:1080px; height:750px; float:left;}
.profile2>li>img {width:100%; height:100%; }   

.prev{width:30px; height:30px; position: absolute; top:50%; left:0;}
.next{width:30px; height:30px; position: absolute; top:50%; right:0;}
 

#artist2{width:100%; height:500px; background-color: black;
    
    }

    #artist2 .container2 {width: 1600px; height: 100%;
        display:flex; 
        justify-content: center; 
        position:relative;
        
        } 
        
.about{width:800px; height:300px; 
    position: relative; 
    }   

.about h2{position: absolute; top:10%;font-size:35px; 
    font-family: 'Anton', sans-serif;
    color:white;}
.about p{position: absolute; top:36%;font-size: small; 
    font-family: 'Outfit', sans-serif;
    color:white;}    


.bginfo{width:220px; height:300px; float:right; 
    font-size: small;
    font-family: 'Outfit', sans-serif;
    
    }
.bginfo p{margin-top:100px; color:white;}    






.qsns{width:1030px; height:30px; position: absolute;
     top:250px; text-align:left;
     
     
    }
.qsns p{font-family: 'Oswald', sans-serif; letter-spacing:1px; font-size: 18px; color:white;}
.qsns img{width:15px; height:auto;  margin:0px 10px; 
    transition:all 0.5s ease;}
.qsns img:hover{opacity: 0.5;}








#disco{width:100%; height:1000px; 
    position:relative;
    overflow-y: hidden;
    background-color: lightcoral;} 


#particles-js>h1{width:100%; 
    font-family: 'Anton', sans-serif;
    font-size:60px;
    text-align: center;
    position:absolute;
    top:100px;
    color:white;}  

#discog {width:100%;
        height:100%;
        }   




#video{width:100%; height:840px; 
  position:relative;
  background-color: black;}

#video h2{
  position:absolute;
  top:85px;
  left:24%;
  font-size:35px; 
  font-family: 'Anton', sans-serif;
  color:white;}  

  #video .container2{display: flex;
                      justify-content: center;
                      align-items:flex-end;}







.line{
    border: 0.1px solid white;
    width:0.1px;
    height:5700px;
    margin:0 auto;
}

/* footer */


footer{width:100%; height:160px; 
    background-color: black;
    }

  
footer .container{display: flex;
                    justify-content:flex-end;
                    align-items: center;
                    flex-direction: column;}  

.sns2 {width:500px; height:60px; 
        display:flex;
            justify-content: center;
            flex-direction: row;} 

footer .container p{width:500px; height:30px;
            margin:0 auto;
            color:white;
            font-family: 'Outfit', sans-serif;
            text-align: center;}

.sns2 img{width:20px; height:auto; margin:10px;
            transition:all 0.5s ease;}

.sns2 img:hover{opacity: 0.5;}